Package: naville.revealloader2
Conflicts: com.rheard.rhrevealloader
Replaces: com.rheard.rhrevealloader
Name: Reveal2 Loader
Version: 1.0.0
Architecture: iphoneos-arm
Depends: mobilesubstrate, preferenceloader, applist
Maintainer: Richard Heard <cydia@rheard.com>
Author: Richard Heard <cydia@rheard.com>
Section: Tweaks
Description: As The Original RevealLoader
Tag: role::developer, purpose::extension
