Package: naville.revealloader2
Conflicts: com.rheard.rhrevealloader
Replaces: com.rheard.rhrevealloader
Name: Reveal
Version: 1.0.0
Architecture: iphoneos-arm
Depends: firmware (>= 8.0), mobilesubstrate, applist, preferenceloader
Maintainer: XIN <zx270611346@gmail.com>
Author: XIN
Section: Tweaks
Description: As The Original RevealLoader
Tag: role::developer, purpose::extension
